.container.main
  .row
    .col-md-6.col-md-offset-3.text-center.title
      h1 Want to Connect?
      .bar
  .row
    .col-md-6.col-md-offset-3.form
      h2 Login
      input(
        type='text'
        name='username'
        placeholder='username'
      )
      br
      input(
        type='password'
        name='password'
        placeholder='password'
      )
      a(href="#0").btn.btn-default.login
        | login
        
      h4 Don't have an account? We can fix that!
        span
          a(href="#0").btn.btn-default.signup
            | Signup
          
        
      